@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,300;1,400;1,500&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;

    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --width-sidebar: 330px;
    // mode
    --text-color: black;

    --black: #000;
    --white: #fff;
    --bg-color: white;
    --bg-color-hover: rgba(22, 24, 35, 0.03);

    --box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    // mode
    --background-color: rgba(120, 184, 237, 0.01);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: var(--background-color);
}
html body {
    overflow-y: overlay;
}
// srollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}

// custem tippy tolltip
body.tippy-box {
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.092);
}
body .tippy-content {
    padding: 8px 9px;
}
