.wrapper {
    position: fixed;
    right: 20px;
    top: 90px;
}
.body {
    width: 250px;
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(15, 235, 34, 0.6);
    position: relative;
    border-radius: 2px;
}
.text {
    color: blue;
    padding-left: 30px;
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
}
.line {
    position: absolute;

    color: rgba(15, 235, 34, 1);
    border-top: 3px solid rgba(15, 235, 34, 1);
    width: 100%;
    animation: countdown 2s ease-in-out;
}
@keyframes countdown {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
