.wrapper {
    position: fixed;
    right: 0px;
    bottom: 10px;
}
.body {
    width: 250px;
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(240, 4, 4, 0.6);
}
.text {
    color: blue;
}
