.wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body {
    width: 1150px;
    padding: 20px 16px;
}
.title-header {
    font-size: 3rem;
    font-weight: 700;
}
.select-title {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}
.left {
    width: 330px;
    padding-right: 40px;
}
.topic {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.icon-more {
    color: black;
}
.right {
    flex: 1;
    padding: 48px;
    border-radius: 8px;
    box-shadow: 2px 4px 20px rgb(80 102 102 / 20%);
    margin-left: 54px;
}
.history {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    padding-bottom: 20px;
    margin-top: 20px;
}
