.wrapper {
    display: flex;
    align-items: center;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.text {
    background-color: var(--bg-gray);
    padding: 7px 12px;
    border-radius: 8px;
    color: var(--text-color-black);
    border-radius: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 1.6rem;
    margin-right: 8px;
}
